* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nova Mono', monospace;
    color: white;
}

main {
    background-color: black;
    display: flex;
}

header {
    width: 100%;
    background-color: black;
}

header img {
    width: 30%;
    display: block;
    margin: 0 auto;
    height: 150px;
}

.nav-menu {
    height: calc(100vh - 150px);
    width: 15%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    border-bottom: 2px solid rgb(255, 187, 0);
}

.content {
    border-left: 2px solid rgb(255, 187, 0);
}

article {
    margin-left: 20px;
}

article h1 {
    border-bottom: 2px solid rgb(255, 187, 0);
}

h2 {
    margin-top: 10px;
    font-size: 18px;
    color: rgb(255, 187, 0);
}

ul {
    margin-top: 10px;
    margin-left: 10px;
    list-style: none;
}

li {
    margin-bottom: 5px;
}